<script>
	var JSApplet = {};
	JSApplet.Inchi = {};

	function computeInchi(mol) {
		var result;
		var tmp_function_name = "__local_ff";
		JSApplet.Inchi[tmp_function_name] = function (inchi_result) {
			result = inchi_result
		};
		JSApplet.Inchi.computeInchi(mol, "JSApplet.Inchi." + tmp_function_name);
		delete JSApplet.Inchi[tmp_function_name];

		return result;
	}

</script>

<p>{QUESTIONTEXT}</p>
<!-- style="pointer-events:none;" -->
<div id="jsme_container" onmouseup="getJmeFile();" onmousemove="color();"></div>
<form method="POST" action="" id="answerForm">
	<input type="hidden" id="answerString" name="sampleSolution" value="{MOLECULE}" />
	<input type="hidden" id="smilesString" name="smilesSolution"  value="{SMILES}"/>
	<input type="hidden" id="svgString" name="svgSolution"  value='{SVG}'/>
	<input type="hidden" id="inchiString" name="inchiSolution"  value='{INCHI}'/>
</form>

<textarea rows="10" cols="50" id="answer" style="display:none;">{MOLECULE}</textarea>
SMILES= <label id="smileslabel">{SMILES}</label>
<br/>
<textarea rows="10" cols="50" id="svg" style="display:none;">{SVG}</textarea>
<label id="inchilabel">{INCHI}</label>
<script>
        function showInchi(jsme_event) {
            var mol = jsme_event.src.molFile();
            var result = computeInchi(mol)
            document.getElementById("inchilabel").innerHTML = result.inchi;
            document.getElementById("inchiString").value = result.inchi;
        }

	 //this function will be called after the JavaScriptApplet code has been loaded.
    function jsmeOnLoad() {
        jsmeApplet = new JSApplet.JSME("jsme_container", "500px", "500px");
        jsmeApplet.readMolecule("{MOLECULE}");
        jsmeApplet.options("{OPTIONS}");
        jsmeApplet.setHelpURL("");
        color();
		jsmeApplet.setCallBack("AfterStructureModified", showInchi);
   }
   
   function findButtonbyTextContent() {
		// hide help-button in about-window			
		var buttons = document.getElementsByTagName('button');		
		for (var i=0; i<buttons.length; i++) {
			if (buttons[i].firstChild.nodeValue == 'Help' || buttons[i].firstChild.nodeValue == 'JSME home')
				buttons[i].style = "display:none";
		}  	
	}
	
	function color(){
		//red color for P as yellow is poorly visible on white background for some people
	   var text = document.getElementsByTagName("text");
		for (i=0; i<text.length; i++){
			if ( text[i].getAttribute("fill") == "rgb(255,200,0)" ) {
				text[i].setAttribute("fill", "rgb(205,24,25)");
			}  		
		}
	}   
   
	function getJmeFile() {	
		//findButtonbyTextContent();	
		color();
		var jme = jsmeApplet.jmeFile();
		var smiles = jsmeApplet.smiles();
		var svg = jsmeApplet.getMolecularAreaGraphicsString();
				
		document.getElementById("answerString").value = jme;
		document.getElementById("smilesString").value = smiles;
		document.getElementById("svgString").value = svg;
		
		document.getElementById("answer").placeholder = jme;
		document.getElementById("smileslabel").innerHTML = smiles;
		document.getElementById("svg").placeholder = svg;
	}
</script>
  